In [1]:
import pandas as pd 
import numpy as np
import pycountry
df = pd.read_csv('../../HCI.csv')
df.head()
# governance.dtypes
# governance.describe(include="all")

,Country Name,Country Code,Expected Years of School,Fraction of Children Under 5 Not Stunted,Harmonized Test Scores,Human Capital Index (0-1),Human Capital Index Lower Bound (0-1),Human Capital Index Upper Bound (0-1),Learning Adjusted Years of School,Probability of Survival to Age 5,Survival Rate from Age 15-60
0,Afghanistan,AFG,8.90189075469971,0.618072211742401,354.7587890625,0.400284141302109,0.38714861869812,0.412617266178131,5.05283832550049,0.937723577022552,0.78774082660675
1,Albania,ALB,12.8893814086914,0.886766493320465,434.127593994141,0.634250938892365,0.624725520610809,0.643478035926819,8.95301818847656,0.991176664829254,0.929365992546082
2,Algeria,DZA,11.8480348587036,0.883103966712952,374.089080810547,0.534556448459625,0.527311027050018,0.541510224342346,7.091552734375,0.976517915725708,0.909282267093658
3,American Samoa,ASM,..,..,..,..,..,..,..,..,..
4,Andorra,AND,..,..,..,..,..,..,..,..,..

In [2]:
df=df.replace({'..':None})#replace all cells with .. with None so that python can evaluate it as missing value
df.head()

,Country Name,Country Code,Expected Years of School,Fraction of Children Under 5 Not Stunted,Harmonized Test Scores,Human Capital Index (0-1),Human Capital Index Lower Bound (0-1),Human Capital Index Upper Bound (0-1),Learning Adjusted Years of School,Probability of Survival to Age 5,Survival Rate from Age 15-60
0,Afghanistan,AFG,8.90189075469971,0.618072211742401,354.7587890625,0.400284141302109,0.38714861869812,0.412617266178131,5.05283832550049,0.937723577022552,0.78774082660675
1,Albania,ALB,12.8893814086914,0.886766493320465,434.127593994141,0.634250938892365,0.624725520610809,0.643478035926819,8.95301818847656,0.991176664829254,0.929365992546082
2,Algeria,DZA,11.8480348587036,0.883103966712952,374.089080810547,0.534556448459625,0.527311027050018,0.541510224342346,7.091552734375,0.976517915725708,0.909282267093658
3,American Samoa,ASM,None,None,None,None,None,None,None,None,None
4,Andorra,AND,None,None,None,None,None,None,None,None,None

In [3]:
df.dtypes

Country Name                                object
Country Code                                object
Expected Years of School                    object
Fraction of Children Under 5 Not Stunted    object
Harmonized Test Scores                      object
 Human Capital Index (0-1)                  object
Human Capital Index Lower Bound (0-1)       object
Human Capital Index Upper Bound (0-1)       object
Learning Adjusted Years of School           object
Probability of Survival to Age 5            object
Survival Rate from Age 15-60                object
dtype: object

# changes data types accordingly

In [4]:
object_list = df.select_dtypes(include=['object']).columns.to_list()[2:]
# print(object_list)
df[object_list]=df[object_list].astype(float)
df.dtypes

Country Name                                 object
Country Code                                 object
Expected Years of School                    float64
Fraction of Children Under 5 Not Stunted    float64
Harmonized Test Scores                      float64
 Human Capital Index (0-1)                  float64
Human Capital Index Lower Bound (0-1)       float64
Human Capital Index Upper Bound (0-1)       float64
Learning Adjusted Years of School           float64
Probability of Survival to Age 5            float64
Survival Rate from Age 15-60                float64
dtype: object

In [5]:
df.isnull().sum()

Country Name                                  0
Country Code                                  0
Expected Years of School                     43
Fraction of Children Under 5 Not Stunted    117
Harmonized Test Scores                       43
 Human Capital Index (0-1)                   43
Human Capital Index Lower Bound (0-1)        43
Human Capital Index Upper Bound (0-1)        43
Learning Adjusted Years of School            43
Probability of Survival to Age 5             43
Survival Rate from Age 15-60                 43
dtype: int64

In [6]:
def get_continent(row):
    try:
        if pd.notnull(row['Country Code']):
            # Use the country code if available
            country_info = pycountry.countries.get(alpha_3=row['Country Code'])
        else:
            # Use the country name as fallback
            country_info = pycountry.countries.get(name=row['Country Name'])

        if country_info is not None:
            # Retrieve the alpha-2 code
            alpha_2 = country_info.alpha_2

            # Retrieve the continent based on the alpha-2 code
            continent_info = pycountry.convert_country_alpha2_to_continent_code(alpha_2)
            
            if continent_info is not None:
                return continent_info
        return 'Unknown'
    except (KeyError, AttributeError):
        return 'Unknown'

In [7]:
import pycountry
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2

In [8]:
import pycountry_convert as pc

def country_to_continent(country_code):
    try:
        country_info = pycountry.countries.get(alpha_3=country_code)
        
        if country_info is not None:
                # Retrieve the alpha-2 code
            alpha_2 = country_info.alpha_2
            country_continent_code = pc.country_alpha2_to_continent_code(alpha_2)
            country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
            return country_continent_name
    except (KeyError, AttributeError):
        return 'Unknown'

# Example
country_C = 'SXM'
print(country_to_continent(country_C))

Unknown

In [9]:
# Assuming your dataset is a pandas DataFrame and the country column is named 'Country'
df['Continent']=df['Country Code'].apply(country_to_continent)
df

,Country Name,Country Code,Expected Years of School,Fraction of Children Under 5 Not Stunted,Harmonized Test Scores,Human Capital Index (0-1),Human Capital Index Lower Bound (0-1),Human Capital Index Upper Bound (0-1),Learning Adjusted Years of School,Probability of Survival to Age 5,Survival Rate from Age 15-60,Continent
0,Afghanistan,AFG,8.901891,0.618072,354.758789,0.400284,0.387149,0.412617,5.052838,0.937724,0.787741,Asia
1,Albania,ALB,12.889381,0.886766,434.127594,0.634251,0.624726,0.643478,8.953018,0.991177,0.929366,Europe
2,Algeria,DZA,11.848035,0.883104,374.089081,0.534556,0.527311,0.541510,7.091553,0.976518,0.909282,Africa
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oceania
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America
213,West Bank and Gaza,PSE,12.198255,0.926040,412.317749,0.579997,0.567182,0.591090,8.047291,0.979734,0.892102,Asia
214,"Yemen, Rep.",YEM,8.127937,0.535905,321.327026,0.372784,0.352850,0.388251,4.178761,0.945041,0.803752,Asia
215,Zambia,ZMB,8.788963,0.654127,358.140442,0.396928,0.381384,0.410318,5.036293,0.942158,0.732388,Africa
216,Zimbabwe,ZWE,11.054537,0.765030,396.138824,0.466893,0.444481,0.488259,7.006610,0.953772,0.650399,Africa

In [10]:
df.groupby('Continent')

In [11]:
df.iloc[193,-1] = 'Asia'
df.iloc[172,-1] = 'Europe'

In [12]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

# Fill missing values in numeric columns with the corresponding mean by continent
df[numeric_columns] = df.groupby('Continent')[numeric_columns].transform(lambda x: x.fillna(x.mean()))
df

,Country Name,Country Code,Expected Years of School,Fraction of Children Under 5 Not Stunted,Harmonized Test Scores,Human Capital Index (0-1),Human Capital Index Lower Bound (0-1),Human Capital Index Upper Bound (0-1),Learning Adjusted Years of School,Probability of Survival to Age 5,Survival Rate from Age 15-60,Continent
0,Afghanistan,AFG,8.901891,0.618072,354.758789,0.400284,0.387149,0.412617,5.052838,0.937724,0.787741,Asia
1,Albania,ALB,12.889381,0.886766,434.127594,0.634251,0.624726,0.643478,8.953018,0.991177,0.929366,Europe
2,Algeria,DZA,11.848035,0.883104,374.089081,0.534556,0.527311,0.541510,7.091553,0.976518,0.909282,Africa
3,American Samoa,ASM,11.282570,0.761522,397.065382,0.528862,0.510785,0.543864,7.262642,0.974916,0.845530,Oceania
4,Andorra,AND,13.206627,0.922936,491.600016,0.710769,0.701848,0.719555,10.417019,0.995263,0.910403,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,11.989869,0.835751,414.021849,0.566024,0.552886,0.577625,7.982823,0.981438,0.862782,North America
213,West Bank and Gaza,PSE,12.198255,0.926040,412.317749,0.579997,0.567182,0.591090,8.047291,0.979734,0.892102,Asia
214,"Yemen, Rep.",YEM,8.127937,0.535905,321.327026,0.372784,0.352850,0.388251,4.178761,0.945041,0.803752,Asia
215,Zambia,ZMB,8.788963,0.654127,358.140442,0.396928,0.381384,0.410318,5.036293,0.942158,0.732388,Africa
216,Zimbabwe,ZWE,11.054537,0.765030,396.138824,0.466893,0.444481,0.488259,7.006610,0.953772,0.650399,Africa

In [13]:
# df.dropna(thresh=4,inplace=True)

In [14]:
from ydata_profiling import  ProfileReport
prof = ProfileReport(df,title='eda',explorative=True,dark_mode=True)
prof.to_file('output_file_cleaned.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [15]:
df.to_csv('cleaned_hci_d.csv',sep=',')